.photoUploader {
  position: absolute;
  left: 0;
  top: 0;
}

.photoGrid > div .hide {
  opacity: 0;
}

.photoGrid > div:hover .hide {
  display: block;
  animation: hideAnimation 0.3s ease-in-out forwards;
  opacity: 0.7;
}
